
<div class="container">
	<h3>
		<%=t(".phone_status")%>
	</h3>
	<br>
	
	<div>
		<p>
			<%=t(".empty_table_message")%>
		</p>
	</div>
	<table class="table table-striped table-condensed">

		<% @phone_status_hash.each do |key, value| %>

			<tr>
				<td>
					<%=key.to_s.gsub("_"," ")%>
				</td>
				<td>
					<%=value%>
				</td>
			</tr>

		<% end %>

	</table>
</div>