<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Successful payment! </h3>
<p>
  Purchase Description:
  <br>
  <%= @description%>
  <br>
  <br>
</p>
</body>
</html>