
<div class="container">

	<div class="row">
		<div class='col-md-4'>
		</div>

		<div class='col-md-4'>
		<div class="panel">
		  <div class="panel-heading accesspoint-theme">
		    <h3 class="panel-title accesspoint-centered">Contact</h3>
		  </div>
		  <div class="panel-body accesspoint-centered">

		  	
		  	<span class='accesspoint-highlight'>837 4th Ave S <br> Denison, IA 51442</span> 

		  	<br>
		  	<br>

		  	
		  	<p>
		  		<span class='accesspoint-highlight'>Email: </span> accesspointwireless@hotmail.com
		  	</p>
		    <p>
		    	<span class='accesspoint-highlight'>Phone: </span> 712-267-0238
		    </p>

		  </div>
		</div>
		</div>

		<div class='col-md-4'>
		</div>


	</div>
</div>