/*
 *= require font-awesome
 *= require bootstrap
 *= require_self
 *= require bootstrap-theme.css
 */

.stripe-button-el{
	display: none; 
 } 

.btn {
    padding: 14px 24px;
    border: 0 none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.my-btn {
    background: #0099cc;
    color: #ffffff;
}
 
.my-btn:hover, .my-btn:focus, .my-btn:active, .my-btn.active, .open > .dropdown-toggle.my-btn {
    background: #33a6cc;
}
 
.my-btn:active, .my-btn.active {
    background: #007299;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.my-btn.outline {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.my-btn.outline:hover, .my-btn.outline:focus, .my-btn.outline:active, .my-btn.outline.active, .open > .dropdown-toggle.my-btn {
    color: #ffffff;
    border-color: #005AFF;
}
.my-btn.outline:active, .my-btn.outline.active {
    border-color: #ffffff;
    color: #005AFF;
    box-shadow: none;
}




.accesspoint-highlight{
	color: #B00000;
}

.accesspoint-smaller{
	font-size: 90%;
}

.accesspoint-centered{
	text-align: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.accesspoint-centered h1{
	text-align: center;
}
.accesspoint-centered h2{
	text-align: center;
}
.accesspoint-centered h3{
	text-align: center;
}
.accesspoint-centered h4{
	text-align: center;
}
.accesspoint-centered h5{
	text-align: center;
}

.accesspoint-centered btn{
	text-align: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.accesspoint-warning{
	display: none;
}
.panel-heading{
  color: #ffffff;
  background: #B00000;
}



p{
	text-align: justify;
}


.navbar{
	min-height: 120px;

}

.navbar-collapse{
	margin-top: 25px;
}

.navbar-right{
	margin-top: 10px;
}


.btn-primary{
	background: rgb(200,50,0);
	color: #ffffff;
	border-color: rgb(200,50,0);
}

.btn-primary:hover{
	background: rgb(255, 102, 0);
	color: #ffffff;
	border-color: rgb(255, 102, 0);
}

img{
	margin: 10px;
}

body,html{
 height:100%;
}
.container{
 min-height:100%;
}
.footer{
 padding-top: 60px;
 height:40px;
 margin-top:-40px;
}


h1, h2, h3, h4, h5{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}


